<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011088994661-47hilstldtomus87di5es90vn06nv3nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011088994661-47hilstldtomus87di5es90vn06nv3nb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1011088994661-fajhfegjbdd39hnk71mqi9074rqjcjvo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTYdNFAGfCfexw-r89mGnzELFEvx0Hu-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1011088994661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.dfet.coach</string>
	<key>PROJECT_ID</key>
	<string>dfetmanage</string>
	<key>STORAGE_BUCKET</key>
	<string>dfetmanage.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011088994661:ios:58e7f0262c084e555df18c</string>
</dict>
</plist>
